<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsc.runtimepermission">

    <!-- 注意，所有需要的权限都在Android清单中声明。
           在Android M及以上版本中，仅在运行时请求使用这些权限。 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 仅当设备在M或以上时才请求以下权限。
            在较老的平台上，不会请求这些权限，也不会提供这些权限。 -->
    <uses-permission-sdk-23 android:name="android.permission.READ_CONTACTS" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>